<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/">TransparencyHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="<%= url_for services_path %>">Services</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="<%= url_for overview_dashboard_path %>">Schemas</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="<%= url_for purposes_path %>">Purposes</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="<%= url_for utilizer_path %>">Utilizers</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Dashboards

          </a>
          <div class="dropdown-menu">
              <%#= link_to 'Overview', overview_dashboard_path, class: "dropdown-item" %>
              <%= link_to 'Network', network_path, class: "dropdown-item" %>
              <%#= link_to '<i class="fa fa-sign-out"></i> &nbsp;Ausloggen'.html_safe, destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-cogs"></span>&nbsp;Actions
          </a>
          <div class="dropdown-menu">
              <%#= link_to '<i class="fa fa-lock"></i> &nbsp;&nbsp;Passwort ändern'.html_safe, edit_user_registration_path, class: "dropdown-item" %>
              <%#= link_to '<i class="fa fa-sign-out"></i> &nbsp;Ausloggen'.html_safe, destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
      </li>
    </ul>
  </div>

</nav>